body{
  background : none;
}
// .navbar-laravel {
//   background-color: #fff;
//   -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//           box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

#mainpage {
  // height: 675px; 
  width: inherit;
  // background-image: url('/images/bg_tks.jpg'); 
  background-repeat: no-repeat; 
  margin: 0px; 
  position: relative;

  .bgImage{
    width : 100%;
  }
}

// #continent {
//   position: absolute;
//   height: 280px; 
//   width: 320px;
//   font-size: 1.1em;
//   color: #000000;
//   background-color: transparent;
//   // margin-top: 120px;
//   // margin-left: 100px;
//   border: 1px solid rgba(19, 136, 174, 0.44);
//   border-radius: 10px;
//   padding-top: 20px;
//   padding-left: 10px;
//   padding-right: 10px;
//   right: 15px;
//   top : 20px;
// }

#topbar {
    // background-image: url('/images/top1b.jpg');
    // height: 128px;
}

.navbar-nav li {
  padding-left: 25px;
  color:#000;
}

.nav-item a {
  color:#666;
  font-size: 16px;
  font-weight: 600;
}

.nav-item a:hover {
  text-decoration: none;
  color: #3490dc;
}

.dropdown-menu a {
  color:black;
}

// #search {
//   float: right;
//   position: relative;
//   top: 80px;
// }

.nav-link {
  color: black;
}

.asterisk {
  color:red;
}

.classes_container {
  background-color: #e0e0e7;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #818181;
  border-radius: 5px;
  margin-bottom: 10px;
}

.con {
  width: 930px; 
  margin: auto;
}

.msg {
  color: darkgray;
}

.borderless td, .borderless th {
    border: none;
}

.left-position{
  background-color: #ddd;
  font-weight: bold;
}

.icon-wrapper{
    position:relative;
    float:left;

    span {
      color : #fff;
    }
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: black}
.i {   
    width:100px;
    text-align:center;
    vertical-align:middle;
}
.badge-registration{
    background-color: #1475A9;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 100%;
    position:absolute;
    top:-5px;
    right:22px;
    padding:5px;
    min-width: 30px;
}

.badge-study{
    background-color: #1475A9;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 100%;
    position:absolute;
    top:-3px;
    right:12px;
    padding:5px;
    min-width: 30px;
}

.badge-monitoring{
    background-color: #1475A9;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 100%;
    position:absolute;
    top:-3px;
    left:87px;
    padding:5px;
    min-width: 30px;
}

.badge-others{
    background-color: #1475A9;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 100%;
    position:absolute;
    top:-3px;
    right:1px;
    padding:5px;
    min-width: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }