.block-welcome{
    background-image: url('/images/bg_tks_blank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position : relative;
    // width : 100%;
    // min-height : 60vh;
    // padding : 15%;
    margin : 0px;
    // position: relative;
    // padding-bottom: 15%;
    padding : 15% 0;
}

.bg-darker{
    position: absolute;
    top : 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.network-box{
    // background: rgba(0, 0, 0, 0.5);
    // position: relative;
    // top: 100px;
    // left: 5%;
    // max-width: 500px;
    // margin-left: auto;
    // border-radius: 4px;
    padding: 15px;
    color: #fff;
    // max-width: 700px;

    h2{
        text-align: center;
        font-size: 50px;
        color: #1475a9;
        text-shadow: 0px 0px 1px #fff;
        font-weight: 700;
        max-width: 800px;
        margin: auto;
    }
    p{
        font-size: 21px;
        text-align: center;
        max-width: 800px;
        margin: auto;
    }
    // separator
    .title-separator{
        margin: 0px auto 40px;
    }
}

.title-separator{
    display: block;
    width: 100px;
    height: 5px;
    background: #1475a9;
    // margin: 0px auto 40px;
}

.network-box-form{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    max-width: 450px;
    /* margin-left: auto; */
    border-radius: 4px;
    padding: 15px;
    color: #fff;
    top: 63px;
    left: 60%;
    z-index: 1;
    box-shadow: 1px 1px 2px #000;

    visibility: hidden;
    transform: rotateY(180deg);
    // transition: visibility 0.7s linear;

    transition: transform 1s;
    transform-style: preserve-3d;

    &.active-show{
        visibility : visible;
        transform: rotateY(360deg);
    }

    .box-form{
        color: #fff;
        // font-size:21px; 
        p{
            font-size: 16px;
        }
        select {
            font-size: 16px;
        }
        button{
            font-size: 13px;
            width : 84px;
        }
    }
}

.bg-gray{
    background: #efefef;
}

.bg-gray2{
    background: #e6e1e1;
}

.bg-contact{
    background-image: url(/images/consutant-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-block{
    padding : 30px 0;
//     font-size: 21px;
//     h2{
//         font-size: 32px;
//     }
//     p{
//         font-size: 21px;
//     }

//     ul {
//         li{
//             font-size: 21px;
//             a{
//                 font-size: 21px;
//             }
//         }
//     }

}

.block-page-title{
    padding-top : 30px;
    padding-bottom : 30px;
    h2{
        font-size: 32px;
    }
}

@media (min-width: 768px){
    .about-block{
        // padding : 30px 0;
        font-size: 21px;
        h2{
            font-size: 32px;
        }
        p{
            font-size: 21px;
        }
    
        ul {
            li{
                font-size: 21px;
                a{
                    font-size: 21px;
                }
            }
        }
    
    }

    
}

.google-container{
    .eagr-reviews-skeleton-component{
        margin: auto;
    }
}

@media (max-width: 768px){
    .pull-image-right{
        flex-direction: column-reverse;
    }
}

