// main{
//     min-height: 80vh;
// }
.updateLandingContent{
    position: absolute;
    top: 0;
    padding: 5px 10%;

    .lead,h1,h3{
        font-weight: 800;
        text-shadow: 0px 0px 2px #fff;
    }

    .lead{
        font-size: 18pt;
        line-height: 27px;
        padding-right: 58px;
    }

    h1{
        font-size : 43pt;
    }

    h3{
        font-size : 20pt;
        margin-bottom: 0px;
    }
}
.btn-pull-right{
    float : right;
    margin : 0px 20px 10px;
}

#accordion{
    .panel-title{
        display: block;
        height: 40px;

        a{
            font-size: 18px;
            color : #f00;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

@media (max-width: 930px){

    .con{
        width : 100%;
    }
}

@media (max-width: 840px){

    .updateLandingContent{
        h1{
            font-size : 39pt;
        }
    
        h3{
            font-size : 18pt;
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 768px){

    .container {
      max-width: unset;
    }


    .con {
        width: inherit; 
        margin: auto;
    }

    .updateLandingContent{
        position: relative;
        padding: 0 15px;
        #continent{
            position: relative;
            // margin:auto;
            height: auto;
            width: auto;
            right: unset;
            top: unset;
        }

        .lead{
            font-size: 12pt;
            line-height: 27px;
            padding-right: inherit;
        }
    
        h1{
            font-size : 20pt;
        }
    
        h3{
            font-size : 16pt;
            margin-bottom: 0px;
        }
    }

    .bgImage{
        padding : 15px;
        width : 100%;
    }

    .inlineFlex{
        display: flex;
        flex-wrap: nowrap;

        padding: 10px;

        .col-sm-10{
            width : 75%;
            padding: 0;
        }
        .col-sm-2{
            width : 25%;
            padding: 0;
            
            button{
                // float: right;
                margin-left : 10px;
            }

        }
    }

    .card{
        margin-bottom : 10px;

        .card-body{
            overflow: scroll;

            .icon-wrapper{

                float : unset;
                // span{
                //     right : 30%;
                // }
            }

        }
    }

}


@media (max-width: 576px){
    .container {
        max-width: unset;
    }

    .card{
        // margin-bottom : 10px;

        .card-body{
            // overflow: scroll;

            .icon-wrapper{

                // float : unset;
                span{
                    right : 35%;
                    left : unset;
                }
            }

        }
    }

    .btn-pull-right{
        float : none;
        margin : 0;
        width: 100%;

        button, .btn{
            width: 100%;
        }
    }

    #accordion{
        .panel-title{
            display: block;
            height: auto;
    
            a{
                font-size: 14px;
                color : #f00;
                font-weight: 600;
                text-decoration: none;
                text-align : left;
                display: block;
                margin-bottom: 10px;
                
                .btn{
                    width: 100%;
                    
                }
            }
        }
    }

    .form-check {
        padding-left: 0;
    }
}

.loader-wrap{
    padding: 40px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    min-height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-content{
        min-width : 300px;
        background : #fff;
        font-size: 26px;
        height : 75px;
        padding : 20px;
    }
}





.flag-pull-right{
    float: right;
    margin: 0px 0px 15px 15px;
}

.tbl-service {
    td{
        vertical-align: middle;

        h2, h3 {
            color: #3490dc;
            font-weight: 600;
        }

        p{
            margin-bottom : 0px;
            font-weight: 600;
        }
    }
}

.service-columns{
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 30px;
    
    p{
        .fa{
            font-size: 32px;
            color: #3490dc;
        }
    }
}

$blue: #4297ec;
$green: #6ad273;
$violet: #986ad4;
.office-service{
    display: flex;
    flex-direction: column;
    height : 100%;
    padding-bottom : 20px;
    .office-headings{
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    .bg-blue{
        background: $blue;
    }

    .bg-green{
        background: $green;
    }

    .bg-violet{
        background: $violet;
    }

    .header-space{
        // margin-top: 30px;
        height: 3px;
    }

    .price {
        font-size : 24px;
        font-weight: 600;

    }

    .sub-heading{
        color : #999;
        font-style: italic;
    }
    ul{
        margin : 0;
        padding: 0;

        li{
            list-style: none;
            display: flex;
            margin-bottom : 10px;
        
            span{
                width : 15%;
            }
            p{
                margin : 0;
                text-align : left;
                width : 85%;
            }
        }
    }

    .blue{
        .fa{
            color : $blue;
        }
    }
    .green{
        .fa{
            color : $green;
        }
    }
    .violet{
        .fa{
            color : $violet;
        }
    }

    .btn-blue {
        color: #fff;
        background-color: $blue;
        border-color: $blue;
    }

    .btn-green {
        color: #fff;
        background-color: $green;
        border-color: $green;
    }

    .btn-violet {
        color: #fff;
        background-color: $violet;
        border-color: $violet;
    }
    form{
        margin-top: auto;
        input{
            font-weight : 600;
            font-size : 16px;
        }
        
    }
}

.coins{
    float: right;
    color: #1475a9;
    font-weight: 600;
}

.referral-link{
    color : #1475a9;
}
.ico-eu, .ico-us{
    display: inline-block;
    /* float: right; */
    background: #1475a9;
    color: #fff;
    padding: 12px 5px;
    font-size: 10px;
    border-radius: 20px;
}
.ico-eu{
    background: #78c6ff;
}


.search-page{
    text-align: center;
    .pagination{
        justify-content: center;
            li{
                padding : 0 3px;

                a{
                    background : #1475a9;
                    color : #fff;
                    padding : 5px 7px;
                }
            }
       
    }
}
.headContent{
    p{
        &:first-child{
            color : #ff0000;
            text-align: center;
            text-transform: uppercase;
        }
        
        
    } 
}

.list-group{
    .rating-container{
        .clear-rating, .caption {
            display: none;
        }
    }
}

.rating-container .caption{
    margin-top: -11px;
}

.rating-container .clear-rating{
    display: none;
}

// modal transparent
.transparent-modal{
    // display : flex !important;
    align-items: center;

    .modal-dialog{
        // margin-bottom : 25%;
    }
    .modal-content{
        background: rgba(0,0,0,0.5);
        border: none;
        // margin-top : 20%;
        .modal-header{
            border: none;
            padding : 0;
            height: 0;
            .modal-title{
                display: none;
            }

            .close{
                padding: 6px 7px;
                border-radius : 21px;
                border : 1px solid #fff;
                top: -5px;
                position: relative;
                right: -5px;
                background: #fff;

                span{
                    color: #000;
                    font-size: 35px;
                    line-height: 20px;
                    
                }
            }
        }
        .modal-footer{
            display: none;
        }

        .modal-body{
            color : #fff;
        }
    }
    
}

.transparent-modal{
    &.show{
        display : flex !important;
    }
}


.selected-classes-list{
    li{
        display : inline-block;
        margin-right:20px;

        &::after{
            content : ",";
        }

        &:last-child{
            &::after{
                content : "";
            }
        }

        .fa{
            padding-left: 10px;
            color: red;
            position: relative;
            top: -6px;
            left: -6px;
        }
    }
}

.input-add{
    max-width:145px;
    display:inline-block
}

.hide-class{
    display: none;
}

.reset{ 
    float: right;
    padding-bottom : 5px;
}

.btnRemoveClass{
    color: #e3342f;
    cursor: pointer;
}

.policy{
    font-size: 12px;
    font-style: italic;
    text-align: justify;

    a{
        font-size: 12px;
    }
}

.new-add-class-container{
    .dropdown-toggle{
        .bs-caret{
            display:none;
        }
    }
}

.bootstrap-select{
    .dropdown-toggle{
        border: 1px solid #ced4da;

        .filter-option{
            font-style: italic;
            text-align: center !important;
            // color: #e3332e;
        }

        &.btn-default{
            color: #fff;
            background-color: #3490dc;
            border-color: #3490dc;
        }
    }
    .dropdown-menu.show{
        
        .dropdown-menu.inner{
            display: inline-block;
            padding-bottom: 30px;

            
            .hidden{
                display:none;
            }
            .active{
                display: block;
            }

            li{
                

                &.disabled{
                    background: #ced4da;
                }

                a{
                    display: block;
                    padding : 5px 15px;
                }
            }
        }
    }
}

// referral

.credit{
    color : #00a65a;
}

.processing{
    color : #e3342f;
}

.done{
    color : #1475a9;
}

.system-content{
    padding-top : 15px;
    p{
        img{
            max-width : 100% !important;
            height : auto !important;
        }

        span.marker{
            background-color: #daeeff;
        }
    }

    blockquote{
        border-left: 5px solid #1475a9;
        padding-left: 15px; 
    }

    
}

.author{
    font-size: 12px;
    color: #5c5c5c;
    border: 1px solid #dfdfdf;
    padding: 20px;
    max-width: 40%;
    border-radius: 4px;
    margin: 20px 0 40px;
}

.blog-list{
    .description{

    }
    p{
        em{
            font-size : 12px;
            color : #5c5c5c;
        }
    }

}

.share-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin-btn img{
    width : 107px;
    margin: 0 10px;
}
$color-yt-active : #ffa902;
$color-yt-inactive : #7a0101;
// youtube subscribe page styles
.youtube-subscribe-container{
    background: -webkit-gradient(linear,left bottom,left top,color-stop(-3.94%,#830202),color-stop(80.69%,#b70000)),#ae0a0a;
    background: linear-gradient(1turn,#830202 -3.94%,#b70000 80.69%),#ae0a0a;
    padding : 30px;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -22px;
    margin-bottom: -20px;

    h1{
        color: #fff;
        font-size: 40px;
    }
    h2{
        font-size: 40px;
        color: #fff;
        b{
            font-size: inherit;
        }
    }

    // .steps-subscribe{
    //     ul{
    //         width: 100%;
    //         margin: 0;
    //         padding : 40px 0;
    //         li{
    //             list-style: none;
    //             display: inline-block;
    //             font-size: 42px;
    //             margin-right: 40px;
    //             padding: 21px 45px;
    //             border: 5px solid #ffa902;
    //             border-radius: 82px;
    //             position: relative;
    //             z-index: 1;
    //             color: #ffa902;
    //             // background: #a20101;

    //             &:after{
    //                 content: "";
    //                 height: 5px;
    //                 width: 44px;
    //                 background: #ffa902;
    //                 position: absolute;
    //                 right: -49px;
    //                 top: 50%;
    //             }

    //             &:last-child{
    //                 margin-right: 0px;
    //                 &:after{
    //                     display: none;
    //                 }
    //             }
    //         }

    //     }
    // }

    .step{
        border-radius: 50px;
        border: 2px solid $color-yt-inactive;
        font-size: 40px;
        font-weight: bold;
        color: $color-yt-inactive;
        position: absolute;
        top: 0%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: calc(50% - 50px);

        .fa{
            font-size: 40px;
        }

        &.active{
            border: 2px solid $color-yt-active;
            color: $color-yt-active;
        }

        &.visited{
            border: 2px solid $color-yt-active;
            color: $color-yt-active;
        }
    }

    .step-line{
        z-index: 0;
        @media (min-width: 768px){

            &:after{
                content:" ";
                width: calc(100% - 100px);
                height: 2px;
                display: block;
                position: absolute;
                left: calc(50% + 50px);
                top: 50px;
                z-index: 0;
    
                background: -webkit-gradient(linear,right top,left top,from(#7a0101),to(#ffa903));
                background: linear-gradient(270deg,#7a0101,#ffa903);
            }

            &.initial{
                &:after{
                    background: -webkit-gradient(linear,right top,left top,from($color-yt-inactive),to($color-yt-inactive));
                    background: linear-gradient(270deg,$color-yt-inactive,$color-yt-inactive);
                }
            }
    
            &.visited{
                &:after{
                    background: -webkit-gradient(linear,right top,left top,from($color-yt-active),to($color-yt-active));
                    background: linear-gradient(270deg,$color-yt-active,$color-yt-active);
                }
            }
    
            &.active{
                &:after{
                    background: -webkit-gradient(linear,right top,left top,from($color-yt-inactive),to($color-yt-active));
                    background: linear-gradient(270deg,$color-yt-inactive,$color-yt-active);
                }
            }
        }
        

        
    }

    .con-steps{
        min-height: 100px;
        position: relative;
    }

    .content-step{
        padding-top: 120px;

        @media (max-width: 768px){
            padding-bottom: 40px;
        }

        .btn-register{
            font-size: 24px;
            padding:10px 50px;
            background: $color-yt-active;
            color : #fff;

            &:hover{
                // box-shadow: 0 15px 40px rgba(0,0,0,.2), inset 0 10px 30px red, inset 0 -10px 30px rgba(0,0,0,.25);
            }
        }

        &.hidden{
            display: none;
        }

        .label-steps{
            color : #fff;
            padding-bottom:30px;
            font-size: 18px;
        }

        &.disabled{
            opacity: 0.5;
        }

        .code-claim-block, .code-claim-block-visited{
            color: $color-yt-active;
            border: 2px solid $color-yt-active;
            padding: 20px 10px;
            border-radius: 8px;
            max-width: 300px;
            margin: auto;
            font-size: 18px;
            display : none;
            p{
                font-size: 18px;
            }

            strong{
                font-size: 18px;
            }
        }

        .code-claim-block-visited{
            display: block;
        }
    }
    
}

.trademarks-block-services{
    // padding-bottom : 30px;
    
    h2{
        text-align: center;
        // background: #1475a9;
        // color:#fff;
        // padding: 10px;
        // border-radius: 12px 12px 0px 0px;
        margin-bottom: 25px;
        color : #1475a9;
        font-weight: 600;
    }

    h4{
        text-align: center;
        // padding:10px;
    }

    ul {
        li{
            &.active-bg{
                background: #f1f0f0;
                border: 0;
                border-radius: 0;
                text-align: center;
                padding: 0.75rem 1.25rem;
            }

            padding: 0;

            a{
                display: block;
                padding: 0.75rem 1.25rem;

                &:hover{
                    text-decoration: none;
                }
            }

            span{
                padding: 0.75rem 1.25rem;
                color: #3490dc;
                text-decoration: none;
                background-color: transparent;
                display: block;
            } 
        }
    }

    // ul{
    //     margin: 0;
    //     padding: 0;
    //     li{
    //         list-style: none;
    //         text-align: center;
    //         padding : 5px;
    //     }
    // }
}

.service-block{
    hr{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h3{
        color : #1475a9;
    }
}