#search{
    // float: right;
    // position: relative;
    // top: 80px;
    // left: 100px;

    button {
        
        border: 1px solid #ced4da;
        background: #e9ecef;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;

        .input-group-text{
            border : none;
        }
    }
}

// #contact {
//     float: right;
//     position: relative;
//     top: 10px;
// }



.navbar-light {
    .navbar-toggler{
        border: 2px solid #fff;
        color: #fff;
        // font-size: 14pt;
        padding: 8px 12px;

        .fa-bars,
        .fa-times{
            font-size: 14pt;
        }
    }
}

@media (max-width: 768px){

    #contact {
        // position: absolute;
        // top: 10px;
        // left: 15px;
        // float: unset;
    }

    #search{
        // position: absolute;
        // top: 99px;
        // right: 15px;
        // z-index: 1;
        
    }

    #topbar{
        // height: 100px;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: left -10px;
        // background : #fff;
    }

    .navbar-toggler {
        border: 2px solid transparent;
    }

    .sticky-nav{
        #navbarSupportedContent{
            top: 131px;
        }
    }

    #navbarSupportedContent{
        position: fixed;
        width: 100%;
        left: 0;
        top: 179px;
        z-index: 1;
        background: #1475a9;
        transition: top 0.7s linear;

        // padding-top : 30px;
        .navbar-nav{
            padding-top : 30px;
            flex-direction: column !important;
            .nav-item{
                padding: 10px;
                border-bottom : 1px solid #666;
                a{
                    display : block;
                    color : #fff;

                    // &:hover {
                    //     color : #fff;
                    // }
                }

                // &:hover{
                //     border-bottom : 1px solid red;
                // }
                .dropdown-menu{
                    background: none;

                    .dropdown-item{
                        &:hover{
                            background : none;
                        }
                        display : block;
                    }
                }
                
            }

            &:last-child{
                padding-top : 0px;
                flex-direction: row-reverse;
                justify-content: end;
                .nav-item{
                    border : none;
                    padding-left: 20px;
                    padding-right: 20px;
                    // display: inline;
                    a{
                        display : inline;
                    }
                }
            }

        }
    }

    // #search{
    
    //     float: right;
    //     position: absolute;
    //     top: 98px;
    //     right: 10px;
    
    //     .input-group {
    //         border-radius: 24px;
    //         overflow: hidden;
            
    //         button{
    //             cursor: pointer;
    //             background: #e9ecef;
    
    //             .input-group-text{
    //                 border : none;
    //             }
    //         }
    //     }
    // }

    .navbar-light .navbar-toggler{
        background : #1475a9;
    }

    .logoMobile{
        display: block;
    }

}


// update revision
#top-header{
    // position: fixed;
    background: #1475a9;
    width: 100%;
    padding: 5px;
    color: #fff;
    padding : 5px 0px;
    // top:0;
    a{
        padding-left : 10px;
        color : #fff;
        font-size: 13px;
    }

    .nav-item{
        .dropdown-menu{
            a{
                color : #1475a9;
            }
        }
    }
    
}


.logoMobile{
    display: block;
    width: 250px;
    margin: auto;
    // padding-top: 25px;
}

.logo{
    display: block;
    width: 100%;
    padding-bottom : 5px;
    // max-width : 300px;
    // padding-top : 15px;
}

#top-header{
    .navbar-nav{
        flex-direction: row;
        justify-content: flex-end;
        li{
            padding-left: 20px;
            // display: inline;
        }
    }

    ::-webkit-input-placeholder { /* Edge */
        color: #fff;
    }
      
    :-ms-input-placeholder { /* Internet Explorer */
        color: fff;
    }
      
    ::placeholder {
        color: fff;
    }

    input{
        background: none;
        color : #fff;

        &:focus, &.focus{
            outline : none;
            box-shadow : none;
            background: none;
        }
    }

    button{
        background: none;
        color : #fff;
        padding: 0 6px;

        &:focus, &.focus{
            outline : none;
            box-shadow : none;
            background: none;
        }
    }
}

#topbar{
    // margin-top : 46px;
    padding-top: 1.5rem;
    border-bottom: 5px solid #1475a9;
    padding-bottom: 10px;
    transition: top 0.7s linear;
    top: -90px;

    &.sticky-nav{
        position: fixed;
        top : 0;
        z-index: 9;
        width : 100%;
        background: #fff;
        padding-top: 5px;
        padding-bottom: 0px;
    
        .leader-board{
            display: none;
        }
    }

    .navbar{
        padding : 0;
        margin : 0;
        min-height: auto;

        #navbarSupportedContent{
            justify-content: center;
        }
    }
}

#topbar-scroller{
    // margin-top : 46px;
    padding-top: 1.5rem;
    border-bottom: 5px solid #1475a9;
    padding-bottom: 10px;
    transition: top 0.7s linear;
    top: -150px;
    position: fixed;
    z-index: 9;
    width : 100%;
    background: #fff;

    &.sticky-nav{
        position: fixed;
        top : 0;
        z-index: 9;
        width : 100%;
        background: #fff;
        padding-top: 5px;
        padding-bottom: 0px;
    
        .leader-board{
            display: none;
        }
    }

}



#topbar-banner{

    padding-top: 1.5rem;
}




.btn-transparent{
    background: none;
    color: #fff;
    font-weight: 800;

    &:focus, &.focus{
        outline : none;
        box-shadow : none;
    }
}

.dropdown{

    .dropdown-toggle{
        &::after{
            border-bottom: 0.3em solid transparent;
            border-top: 0.3em solid transparent;
            border-left: 0.3em solid;
            border-right: 0;
            position: relative;
            top: 3px;
            left: 2px;
            width: 10px;
            height: 10px;
        }
    }

    &.show{
        .dropdown-toggle{
            &::after{
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
                position: relative;
                top: 5px;
                left: 0px;
            }
        }
    }
}
