@import url(https://fonts.googleapis.com/css?family=Nunito);/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

:root {
  --blue: #3490dc;
  --indigo: #6574cd;
  --purple: #9561e2;
  --pink: #f66D9b;
  --red: #e3342f;
  --orange: #f6993f;
  --yellow: #ffed4a;
  --green: #38c172;
  --teal: #4dc0b5;
  --cyan: #6cb2eb;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #3490dc;
  --secondary: #6c757d;
  --success: #38c172;
  --info: #6cb2eb;
  --warning: #ffed4a;
  --danger: #e3342f;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 14px;
}


@media (max-width: 768px) {
    // .navbar-header {
    //     float: none;
    // }
    // .navbar-left,.navbar-right {
    //     float: none !important;
    // }
    // .navbar-toggle {
    //     display: block;
    // }
    // .navbar-collapse {
    //     border-top: 1px solid transparent;
    //     box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    // }
    // .navbar-fixed-top {
    //     top: 0;
    //     border-width: 0 0 1px;
    // }
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.show {
        display: block !important;
    }

    .navbar-expand-md > .container{
        display : block;
    }

    .navbar-expand-md .navbar-toggler{
        display: block !important;
    }
    // .navbar-nav {
    //     float: none!important;
    //     margin-top: 7.5px;
    // }
    // .navbar-nav>li {
    //     float: none;
    // }
    // .navbar-nav>li>a {
    //     padding-top: 10px;
    //     padding-bottom: 10px;
    // }
    // .collapse.in{
    //     display:block !important;
    // }
}