@media (max-width: 907px){
    .card{
        .card-body{
            .nav-tabs{
                // border : none;
                margin-bottom : 10px;
                display: flex;
                justify-content: space-around;

                .nav-link{
                    border-radius : 8px;
                    border : 1px solid #dee2e6;
                    margin-right : 10px;
                    margin-bottom : 10px;
                }
            }

            .tab-content{
                overflow: scroll;
            }
        }
    }
}
