/**
 * angular-cookie-law - @version v0.2.4 - @author Palmabit Srl<hello@palmabit.com>
 */
.cl-banner {
  background2: #000000;
  height: auto;
  min-height: 24px;
  line-height: 24px;
  color: #eeeeee;
  text-align: center;
  padding2: 15px 25px;
  padding-top:15px;
  padding-bottom: 15px;
  z-index: 10000;

  position: inherit;
  top: 0;
  left: 0;
  width: auto;
}

/*
.cl-banner.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.cl-banner.fixed.bottom {
  bottom: 0;
  top: auto;
}

*/

.cl-banner p {
  color: black;
  margin: 0;
  padding: 0;
}

.cl-banner a {
  color: white;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  padding: 0 0px;
  margin: 11px 20px 0 20px;
}

.cl-banner .cl-accept {
  background: #007700;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.cl-banner .cl-accept:hover {
  background: #009900;
}

.cl-banner .cl-disable {
  background: #990000;
}

.cl-banner .cl-disable:hover {
  background: #bb0000;
}

.cl-banner .cl-policy {
  background: #0033bb;
   display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.cl-banner .cl-policy:hover {
  background: #0055dd;
  
}
