
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Arvo', Georgia, Times, serif;*/
    font-family: "Metrophobic", Arial, serif;
    font-weight: 400;
}

p, div {
    /*font-family: 'PT Sans', Helvetica, Arial, sans-serif;*/
    font-family: "Metrophobic", Arial, serif;
    font-weight: 400;
}

.globe_img {
    background-image:url('globe2.jpg');
}

body {
    /*padding-top: 10px;*/
    padding-bottom: 20px;
    /*background: url(http://subtlepatterns.com/patterns/lightpaperfibers.png) repeat 0 0;*/

    position: relative;
    /*-webkit-font-smoothing: antialiased;*/
    font-family: "Metrophobic", Arial, serif;
    /*font-family: verdana, sans-serif;*/
    font-size: 13px;
    font-weight: 400;
    /*line-height: 18px;*/
    line-height: 1.2empx;
    color:#000000;
    /*background-color:#E7E7E7;*/
    background-color: #2d2d2d;

}


.app-modal-window .modal-dialog {
    width: 800px;
}

.bs-example {
    /*position: relative;*/
    padding: 15px 15px 15px;
    /*margin: 0 15px 15px 0px;*/
    margin: 0px;
    /*background-color: #fafafa;*/
    /*box-shadow: inset 0 3px 6px rgba(0,0,0,.05);*/
    /*border-color: #e5e5e5 #eee #eee;*/
    /*border-color: #a0a0a4;*/
    border-color: #ededed;
    /*border-color: #E1E1F0;*/
    border-style: solid;
    border-width: 1px ;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}

.bs-example2+.highlight {
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px
}

.bs-exampl2e:after {
    content: "Trademark";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px
}


.side_box {
    /*position: relative;*/
    padding: 15px 15px 15px;
    /*margin: 0 15px 15px 0px;*/
    /*margin: 0px;*/
    margin-right: 5px;
    /*background-color: #fafafa;*/
    /*box-shadow: inset 0 3px 6px rgba(0,0,0,.05);*/
    /*border-color: #e5e5e5 #eee #eee;*/
    /*border-color: #a0a0a4;*/
    border-color: #ededed;
    /*border-color: #E1E1F0;*/
    border-style: solid;
    border-width: 1px ;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    width: 290px;
}


.table tbody>tr:first-child>td {
    border-top:0px solid #ddd
}

/*
.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td{
    padding:8px;
    line-height:1.428571429;
    vertical-align:top;
    border-top:0px solid #ddd
}*/

.list-group-item {word-wrap:break-word;}

.valid_err_msg {color:grey; font-size: 0.9em;}

@media only screen and (max-width: 900px) {
    .map-container {
        display: none;
    }
}

/*http://bootstrap3-menu.codedorigin.com/#sthash.R0zvHT95.Mnhdjkdy.dpbs*/
.navbar-inverse { background-color: #0075A9}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #428BCA}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #006FA1}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #0075A9}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #0075A9}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #F5F5F5}
.navbar-inverse .navbar-nav>li>a { color: #F5F5F5}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}



/*
.navbar-inverse { background-color: #2f6db7  }
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #EBEBEB}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #EBEBEB}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #232323}
.navbar-inverse .navbar-brand:hover { color: #232323}
.navbar-inverse .navbar-nav>li>a { color: white}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: white}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #008BD4}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #008BD4}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.navbar-default .navbar-nav>li>a {
    color: white;
}
*/


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border-radius: 0px;
    border: 1px none transparent;
    font-size: 1.1em;
}


/*http://bootstrap3-menu.codedorigin.com/#sthash.R0zvHT95.dpbs */

/*
.navbar-inverse { background-color: #008BD4}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #0095E3}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #0082C7}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #008BD4}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #008BD4}
.navbar-inverse .navbar-brand { color: #F7F7F7}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #EBEBEB}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


*/

.tickercontainer
  .tickercontainer .mask
  ul.newsticker {
  //important to enable css3 transitions properly
  -webkit-transition: all 0s linear;
      -moz-transition: all 0s linear;
      -o-transition: all 0s linear;
      transition: all 0s linear;
      list-style:none;
      margin:0;
  }

/* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */
/*
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
    display:        inline;
    color:          red;
    font-family:    Garamond;
    font-size:      1.5em;
    padding:        5px 20px;
}*/

/* Adjust Menu colors - Normal
/*
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
    color:          lightgray;
    text-shadow:    none;
}
*/
/* Adjust Menu colors - Hover */
/*
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter {
    color:          white;
    text-shadow:    none;
}
*/
/* Adjust Menu colors - Active */
/*
.navbar .nav > li > a:active, .navbar .nav > li > a:active:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a:first-letter,
.navbar .nav > li.current-menu-ancestor > a:first-letter {
    color:          blue;
    text-shadow:    none;
}*/

/* Adjust dropdown Menu items (blue) text color & (yellow) shading */
/*
.dropdown-menu > li > a {
    color:          blue;
    background:     yellow;
}
*/
/* Remove the Hover/Focus Colors  */
/*
.navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color:          #5A5A5A;
}
*/

